.sidebar{
  height: 100vh;
  min-width: 250px;
}

.navbar, .sidebar-heading {
  height: 75px;
}

.list-group-item.active svg{
  color: #FFF !important;
}

.container-atas .statistik:hover{
  background-color: #0a519d !important;
  color: #fff !important;
  transition: all 0.5s;
}

.react-datepicker-wrapper, .react-datepicker__input-container{
  width: 100%
}