.header-nav {
    height: 40px;
    background-color: rgba(90,183,242,.45);
    z-index: 1;
}

.carousel-caption{
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    line-height: 2.5;
}

.nav-item.login{
    cursor: pointer;
}

.carousel-testimoni{
    height: 200px;
}
.carousel-testimoni .carousel-caption{
    top: 75px;
}